{%extends 'core/base.html'%}
{%block title%}contacto{%endblock%}
{%block background%}{% load static%} {% static 'core/assets/img/explorer4.jpg'%}{%endblock%}
{%block content%}
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contactanos</h2>
            <h3 class="section-subheading text-muted">Envianos un comentario o sugerencia, con gusto la revisaremos.</h3>
        </div>
        <form id="contactForm" action="" method="POST">
            {% csrf_token %}
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <!--<input class="form-control" id="name" type="text" placeholder="Your Name *" data-sb-validations="required" />-->
                        {{form.name}}
                    </div>
                    {{form.name.errors}}
                    <div class="form-group">
                        <!-- Email address input-->
                        <!--<input class="form-control" id="email" type="email" placeholder="Your Email *" data-sb-validations="required,email" />-->
                            {{form.email}}
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    {{form.email.errors}}
                    
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <!-- Message input-->
                        <!--<textarea class="form-control" id="message" placeholder="Your Message *" data-sb-validations="required"></textarea>-->
                        {{form.contenct}}
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                    {{form.contenct.errors}}
                </div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
        {% if 'ok' in request.GET %}
        <div class="text-center text-white mb-3">
            <div class="fw-bolder">Su mensaje se ha enviado con exito, muchas gracias por su tiempo</div>
            
            <br />
        </div>
        {% endif %}
                
          {%if 'fail' in request.GET %}
          <div class="d-none" ><div class="text-center text-danger mb-3">Error al enviar el mensaje!</div></div>
          {%endif%}
           
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Enviar mensaje</button></div>
        </form>
    </div>
</section>
{%endblock%}
{%block linea%}<hr>{%endblock%}